body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    padding: 50px;
  }
  
  .card {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 15px 90px rgba(0, 123, 255, 0.4);
  }
  
  .profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .title {
    color: gray;
    font-size: 18px;
  }
  
  a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    background-color: #02264d;
    padding: 10px 20px;
    border-radius: 10px;
  }
  